<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Sourdough calculator</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.min.js"></script>
  <script src="https://unpkg.com/vue-i18n@8.11.2/dist/vue-i18n.js"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.7.0/js/all.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
  <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.11/lodash.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuex-persist"></script>
  <script src="https://unpkg.com/vuex@3.1.1/dist/vuex.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/node-uuid/1.4.8/uuid.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.4/clipboard.min.js" defer></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>
  <script src="http://cdn.date-fns.org/v1.9.0/date_fns.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jump.js/1.0.2/jump.min.js" integrity="sha256-nLkfxAF8lAuFgs9kcFqZff/MohZAA8mNLQ/buYWwOLs=" crossorigin="anonymous"></script>

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.0/css/bulma.min.css">
  <style>
    ol li {
      margin-bottom: 10px;
    }
    .double-flash {
      animation: double-flash_6492 4s ease infinite;
      transform-origin: 50% 50%;
    }

    .total {
      border-top: solid 4px black;
    }
    
    @keyframes double-flash_6492 {
      0% { opacity:1 }
      12.5% { opacity:0 }
      25% { opacity:1 }
      37.5% { opacity:0 }
      50% { opacity:1 }
      100% { opacity:1 }
    }

    #roundToDecimalId {
      width: 80px;
      text-align: center;
      margin: 0 5px;
    }
    #copy_button {
      color: black;
      cursor: pointer;
    }
    input[readonly] {
      border: 0;
    }
    table.table th {
      text-align: center;
    }
    .planner-box {
      height: 100px;
      border-top: solid 2px black;
      border-bottom: solid 2px black;
      border-right: solid 1px gray;
      border-left: solid 1px gray;
      margin-bottom: 20px;
      cursor: pointer;
      position: relative;
    }
    .planner-box.on_the_dot {
      border-left: solid 2px black;
    }
    .planner-box level {
      margin-bottom: 0;
    }
    .planner-box_time {
      font-size: 0.85em;
      position: absolute;
      font-weight: bold;
      top: 0;
      left: 0;
      right: 0;
    }
    .planner-box_time span {
      margin: auto;
    }
    .planner-box_activity {
      font-size: 50px;
      font-weight: bold;
      position: absolute;
      top: 10px;
      left: 0;
      margin-left: auto;
      margin-right: auto;
      right: 0;
    }
    .planner-box_activity-PO, .planner-box_activity-P {
      background-color: limegreen;
    }
    .planner-box_activity-D, .planner-box_activity-F, .planner-box_activity-T {
      background-color: yellow;
    }
    .planner-box_activity-C, .planner-box_activity-C {
      background-color: red;
    }

    .planner-box_activity-doubleAsterisk, .planner-box_activity-asterisk {
      background-color: lightblue;
    }
    .planner-box .add_next {
      position: absolute;
      right: 2px;
      text-align: center;
      border-radius: 13px;
      color: blue;
      vertical-align: middle;
      margin-top: auto;
      margin-bottom: auto;
      bottom: 2px;
      z-index: 10;
    }
    h2.subtitle {
      font-weight: bold;
      padding-bottom: 15px;
      border-bottom: dotted 1px gray;
    }
    .coefficient_number {
      width: 100px;
    }
    .div_table > div {
      margin-bottom: 10px;
    }
    ol {
      margin-left: 20px;
    }
  </style>
  <script>
    const messages = {
      fr: {
        page: {
          title: 'Calculer le coefficient',
          subtitle: 'Un petit calculateur pour la petite vidéo'
        },
        ingredients: {
          flour: 'farine',
          water: 'eau',
        },
        breads: {
          pain: 'pain | pains',
          baguette: 'baguette | baguettes'
        },
        prompts: {
          clearRecipe: {
            title: 'Tout effacer dans la commande?',
            text: 'Vous êtes sur le point d\'effacer toute la commande!',
            confirmButtonText: 'Oui, effaçons!',
            cancelButtonText: 'Non, surtout pas!',
          },
          clearOrder: {
            title: 'Tout effacer dans la commande?',
            text: 'Vous êtes sur le point d\'effacer toute la commande!',
            confirmButtonText: 'Oui, effaçons!',
            cancelButtonText: 'Non, surtout pas!',
          }
        },
        boxes: {
          order: {
            title: 'Entrez la commande…',
            each: 'à',
            addItem: 'Ajouter un élement',
            clearOrder: 'Effacer la commande'
          },
          recipe: {
            title: '… et la recette de base',
            totalPerKg: 'par kg de farine',
            clearRecipe: 'Effacer la recette',
            addItem: 'Ajouter un élement'
          },
          coefficient: {
            title: 'On calcule le coéfficient…',
            roundCoefficentToBefore: 'Arrondir à',
            roundCoefficentToAfter: 'decimales',
            roundCoefficentToUnit: 'arrondi à l\'unité',
          },
          measurements: {
            title: '… et les mesures',
          },
          poolish: {
            title: 'Si vous utilisez la méthode Poolish (en option)',
            day1: '1<sup>er</sup> jour',
            day2: '2<sup>ème</sup> jour',
          }
        },
        save: 'Enregistrer'
      },
      en: {
        page: {
          title: 'Compute order coefficient/ingredient measurements',
          subtitle: 'A companion calculator for'
        },
        ingredients: {
          flour: 'flour',
          water: 'water',
        },
        breads: {
          pain: 'bread | breads',
          baguette: 'baguette | baguettes'
        },
        prompts: {
          clearRecipe: {
            title: 'Clear recipe?',
            text: 'This will delete all the items from the recipe!',
            confirmButtonText: 'Yes, clear all!',
            cancelButtonText: 'No, cancel!',
          },
          clearOrder: {
            title: 'Clear order?',
            text: 'This will delete all the items from the order!',
            confirmButtonText: 'Yes, clear all!',
            cancelButtonText: 'No, cancel!',
          },
          save: {
            title: 'Your current order/recipe has been saved',
            html: `Please make sure to keep the url below as there are no other way to recover your recipe:
            <p>
              <span><small><i id="url_container">{url}</i></small></span>
              <i id="copy_button" data-clipboard-target="#url_container" class="fas is-right fa-copy"></i>
            </p>
            `
          },
          selectActivity: {
            title: 'Select activity from {start} to {end}',
            activities: {
              'none': 'No activity',
              'PO': 'Poolish Fermentation phase',
              'P': 'Kneading',
              'D': 'Dividing',
              'F': 'Shaping',
              'T': 'Tourage',
              'C': 'Baking',
              'asterisk': 'Fridge',
              'doubleAsterisk': 'Freezer',
            }
          }
        },
        recipes: {
          commonBread: {
            title: 'Common bread (BPàP #19)',
            ingredients: {
              flour: 'Flour T65',
              water: 'Water',
              yeast: 'Yeast',
              fermentedDough: 'Milk bread fermented dough',
              salt: 'Salt'
            } 
          },
          pizzaDough: {
            title: 'Pizza dough (BPàP #24)',
            ingredients: {
              flour: 'Flour T65',
              water: 'Water',
              yeast: 'Yeast',
              oliveOil: 'Olive oil',
              salt: 'Salt',
              sourdough: 'Liquid Sourdough',
              polenta: 'Polenta/Cornmeal'
            }
          },
          hamburgerDough: {
            title: 'Burger bun (BPàP #26)',
            ingredients: {
              flour: 'Flour T65',
              water: 'Water',
              yeast: 'Yeast',
              egg: 'Eggs',
              sugar: 'Sugar',
              salt: 'Salt',
              fermentedDough: 'Fermented Sourdough',
              milk: 'Milk',
              butter: 'Butter',
            }
          }
        },
        boxes: {
          order: {
            title: 'Key in order quantity…',
            each: 'each',
            addItem: 'Add item',
            clearOrder: 'Clear order'
          },
          recipe: {
            title: '… and choose (or create) base recipe',
            totalPerKg: 'per kg of flour',
            clearRecipe: 'Clear recipe',
            addItem: 'Add item',
            selectRecipeAfter: 'then edit it below as needed',
            selectRecipeBefore: 'Select a recipe',
            selectRecipeSelect: '-',
            selectRecipeCustom: 'Custom',
          },
          coefficient: {
            title: 'Let\'s compute the coefficient…',
            roundCoefficentToBefore: 'Round coefficient to',
            roundCoefficentToAfter: 'decimals',
            roundCoefficentToUnit: 'rounds to nearest number',
            tabName: 'Coefficient/Ingredients',
          },
          measurements: {
            title: '… and the ingredients you\'ll need',
          },
          poolish: {
            title: 'Poolish method',
            day1: 'Day 1',
            day2: 'Day 2',
          },
          waterRoux: {
            title: 'Water Roux a.k.a. Tangzhong',
            waterRoux: 'Water Roux',
            balance: 'Balance in recipe',
          },
          planner: {
            shortActivities: {
              none: '',
              D: 'D',
              PO: 'PO',
              P: 'K',
              F: 'S',
              T: 'T',
              C: 'B',
              asterisk: '*',
              doubleAsterisk: '**',
            },
            startAt: 'Start at'
          }
        },
        save: 'Save',
        add: 'Add'
      }
    }
    const recipeIngredients = {
      commonBread: [
        {name: 'flour', mass: 5000, count: 1},
        {name: 'water', mass: 3200, count: 1},
        {name: 'salt', mass: 90, count: 1},
        {name: 'yeast', mass: 50, count: 1},
        {name: 'fermentedDough', mass:  1000, count: 1},
      ],
      pizzaDough: [
        {name: 'flour', mass: 1000, count: 1},
        {name: 'water', mass: 580, count: 1},
        {name: 'salt', mass: 20, count: 1},
        {name: 'yeast', mass: 30, count: 1},
        {name: 'polenta', mass: 30, count: 1},
        {name: 'oliveOil', mass: 60, count: 1},
        {name: 'sourdough', mass: 100, count: 1},
      ],
      hamburgerDough: [
        {name: 'flour', mass: 1000, count: 1},
        {name: 'water', mass: 350, count: 1},
        {name: 'salt', mass: 18, count: 1},
        {name: 'yeast', mass: 30, count: 1},
        {name: 'egg', mass: 150, count: 1},
        {name: 'sugar', mass: 30, count: 1},
        {name: 'milk', mass: 60, count: 1},
        {name: 'butter', mass: 80, count: 1},
        {name: 'fermentedDough', mass: 150, count: 1},
      ]
    }
    const PLANNER_BOXES_PER_ROW = 24
    const client = axios.create({
      baseURL: 'https://pzuxxras84.execute-api.ap-southeast-1.amazonaws.com/prod',
      headers: {'X-Api-Key': 'dehGyRx3xN1wv3T2BI4cU2yjVrb6CaTVGA28UDwd'}
    });
    const i18n = new VueI18n({
      locale: 'en', // set locale
      messages, // set locale messages
    })
    const vuexLocal = new window.VuexPersistence.VuexPersistence({
      storage: window.localStorage,
    })
    const timeFormat = dt => dateFns.format(dt, 'HH:mm')
    const getNewBread = () => ({name: i18n.t('breads.pain')})
    const getNewIngredient = () => ({name: '', count: 1})
    const itemsToTotal = items  => items.reduce((aggr, oI) => aggr + ((oI.count || 0) * (oI.mass || 0 )), 0)
    const urlParams = new URLSearchParams(window.location.search)
    const getEmptyBox = () => ({
      activity: 'none'
    })
    const reasonableNumber = (n) => numeral(n.toString()).format('0[.]0')
    const nEmptyBoxes = n => {
      return new Array(n).fill(0).map(() => getEmptyBox())
    }
    
    const oneRowOfEmptyBoxes = () => nEmptyBoxes(PLANNER_BOXES_PER_ROW)
    document.addEventListener("DOMContentLoaded", function() {
    var vm = new Vue({
      i18n,
      el: '#app',
      data() {
        return {
          PLANNER_BOXES_PER_ROW,
          activeTab: 'coefficient',
          selectedRecipe: "",
          orderItems: [
            {name: this.$i18n.tc('breads.baguette', 18), mass: 340, count: 18},
            {name: this.$i18n.tc('breads.pain', 25), mass: 550, count: 25},
          ],
          recipeItems: [
            {name: this.$i18n.t('ingredients.flour'), mass: 1000, count: 1},
            {name: this.$i18n.t('ingredients.water'), mass: 620, count: 1},
          ],
          poolishItems: [],
          roundToDecimal: '0',
          languages: [{
            name: 'Français',
            locale: 'fr'
          }, {name: 'English', locale: 'en'}],
          plannerBoxes: oneRowOfEmptyBoxes(),
          startAtHour: '08',
          startAtMinute: '00'
        }
      },
      mounted: function () {
        this.computePoolishItems(this.recipeItems)
        const language = urlParams.get('lang')
        if(language) {
          this.$i18n.locale = language
        }
        const id = urlParams.get('id')
        if(id) {
          client.get(`boulangeriePasAPasDbGateway?id=${id}`).then(resp => {
            const {orderItems, recipeItems, roundToDecimal} = resp.data.Item.state
            this.orderItems = orderItems
            this.recipeItems = recipeItems
            this.roundToDecimal = roundToDecimal
          })
        }
      },
      watch: {
        recipeItems() {
          this.computePoolishItems(this.recipeItems, this.poolishItems)
        },
        orderItems() {
          this.computePoolishItems(this.recipeItems, this.poolishItems)
        },
        roundToDecimal() {
          this.computePoolishItems(this.recipeItems, this.poolishItems)
        },
        selectedRecipe(index) {
          if(index === "") return
          this.recipeItems = this.recipeList[index].recipeItems
        }
      },
      computed: {
        totalOrderMass() {
          return itemsToTotal(this.orderItems)
        },
        startDateTime() {
          let d = new Date()
          d = dateFns.setHours(d, parseInt(this.startAtHour))
          return dateFns.setMinutes(d, parseInt(this.startAtMinute))
        },
        displayRecipePerKg() {
          return parseInt(this.flourRecipeMass) !== 1000
        },
        totalRecipeMass() {
          return itemsToTotal(this.recipeItems)
        },
        totalRecipeMassPerKg() {
          return Math.round(this.totalRecipeMass * 1000 / this.flourRecipeMass)
        },
        flourRecipeMass() {
          return this.recipeItems[0].mass
        },
        getCoefficient() {
          const multiplier = Math.pow(10, this.roundToDecimal)
          return Math.ceil(this.totalOrderMass * multiplier / this.totalRecipeMass) / multiplier
        },
        getMeasurements() {
          return this.recipeItems.map(({mass, name}) => ({
            name,
            mass: mass * this.getCoefficient,
            hr: `${reasonableNumber(mass * this.getCoefficient)}g of ${name}`
          }))
        },
        totalMeasurementsMass() {
          return reasonableNumber(itemsToTotal(this.recipeItems.map(({mass, count}) => ({mass, count: count*this.getCoefficient}))))
        },
        waterRouxItems() {
          return [
            {name: this.$i18n.t('ingredients.flour'), waterRouxMass: this.getMeasurements[0].mass / 10, balanceMass: this.getMeasurements[0].mass * 9 / 10},
            {name: this.$i18n.t('ingredients.water'), waterRouxMass: this.getMeasurements[0].mass / 2, balanceMass: this.getMeasurements[1].mass - this.getMeasurements[0].mass / 2}
          ]
        },
        recipeList() {
          return ['commonBread', 'pizzaDough', 'hamburgerDough'].map(recipeName => ({
            title: this.$i18n.t(`recipes.${recipeName}.title`),
            recipeItems: recipeIngredients[recipeName].map(({name, mass, count}) => ({mass, count, name: this.$i18n.t(`recipes.${recipeName}.ingredients.${name}`)}))
          }))
        },
        rowedPlannerBoxes() {
          return _.chunk(this.plannerBoxes, PLANNER_BOXES_PER_ROW)
        }
      },
      methods: {
        computePoolishItems(newItems, oldItems) {
          const waterAmount = Math.round(this.getMeasurements[1].mass / 2)
          this.poolishItems = this.getMeasurements.map(({name, mass}, i) => ({
            name,
            day1Value: i <= 1 ? waterAmount : 0 // Water and flour
          }))
        },
        scrollTo(elementId) {
          Jump(`#${elementId}`, {offset: -10, duration: 750})
        },
        isOnTheDot(box) {
          return dateFns.getMinutes(this.boxTime(box)) === 0
        },
        boxTime(box) {
          const index = this.plannerBoxes.indexOf(box)
          return dateFns.addMinutes(this.startDateTime, 15*index)
        },
        boxTimeHr(box) {
          return timeFormat(this.boxTime(box))
        },
        addItem() {
          this.orderItems.push(getNewBread())
        },
        selectActivity(box) {
          const startDT = this.boxTime(box)
          const endDT = dateFns.addMinutes(startDT, 15)
          const initialActivity = box.activity
          Swal.fire({
            title: this.$i18n.t('prompts.selectActivity.title', {start: timeFormat(startDT), end: timeFormat(endDT)}),
            input: 'select',
            inputValue: initialActivity,
            inputOptions: {
              'none': this.$i18n.t('prompts.selectActivity.activities.none'),
              'PO': this.$i18n.t('prompts.selectActivity.activities.PO'),
              'P': this.$i18n.t('prompts.selectActivity.activities.P'),
              'D': this.$i18n.t('prompts.selectActivity.activities.D'),
              'F': this.$i18n.t('prompts.selectActivity.activities.F'),
              'T': this.$i18n.t('prompts.selectActivity.activities.T'),
              'C': this.$i18n.t('prompts.selectActivity.activities.C'),
              'asterisk': this.$i18n.t('prompts.selectActivity.activities.asterisk'),
              'doubleAsterisk': this.$i18n.t('prompts.selectActivity.activities.doubleAsterisk'),
            },
          }).then(({value}) => box.activity = value || initialActivity)
        },
        copyActivity(box) {
          const index = this.plannerBoxes.indexOf(box)
          if(index === -1 || index === this.plannerBoxes.length - 1) {
            return
          }
          
          this.plannerBoxes[index+1].activity = this.plannerBoxes[index].activity
        },
        saveState() {
          const params = new URLSearchParams(window.location.search)
          let id = params.get('id')
          if(!id) {
            id = uuid.v4()
          }
          const {recipeItems, orderItems, roundToDecimal} = this
          const data = {
            recipeItems, orderItems, roundToDecimal
          }
          client.post(`boulangeriePasAPasDbGateway?id=${id}`, data).then(resp => {
            const url = new URL(window.location)
            if(!url.searchParams.get('id')) {
              url.searchParams.append('id', id)
            }
            return Swal.fire({
              type: 'success',
              title: this.$i18n.t('prompts.save.title'),
              html: this.$i18n.t('prompts.save.html', {url: url.toString()}),
              onOpen(el) {
                new ClipboardJS('#copy_button')
              }
            })
          })
        },
        day2Value(i, poolishItem) {
          return parseInt(this.getMeasurements[i].mass - poolishItem.day1Value)
        },
        addIngredient() {
          this.recipeItems.push(getNewIngredient())
        },
        clearOrder() {
          Swal.fire({
            type: 'error',
            title: this.$i18n.t('prompts.clearOrder.title'),
            text: this.$i18n.t('prompts.clearOrder.text'),
            showCancelButton: true,
            confirmButtonText: this.$i18n.t('prompts.clearOrder.confirmButtonText'),
            cancelButtonText: this.$i18n.t('prompts.clearOrder.cancelButtonText'),
          }).then(result => result.value ? this.orderItems = [getNewBread()] : 0)
        },
        clearRecipe() {
          Swal.fire({
            type: 'error',
            title: this.$i18n.t('prompts.clearRecipe.title'),
            text: this.$i18n.t('prompts.clearRecipe.text'),
            showCancelButton: true,
            confirmButtonText: this.$i18n.t('prompts.clearRecipe.confirmButtonText'),
            cancelButtonText: this.$i18n.t('prompts.clearRecipe.cancelButtonText'),
          }).then(result => result.value ? this.recipeItems = [this.recipeItems[0], this.recipeItems[1]] : 0)
        },
        addRowOfPlannerBoxes() {
          this.plannerBoxes = this.plannerBoxes.concat(oneRowOfEmptyBoxes())
        }
      }
    })
  })
  </script>
</head>
<body>
  <div id="app">
    <section class="hero">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            {{ $t('page.title') }}
          </h1>
          <h2 class="subtitle level">
            <div class="level-left">
              {{ $t('page.subtitle') }}&nbsp;<a href="https://www.youtube.com/watch?v=IZjUj8YzhLA">Boulangerie Pas a Pas #7</a>
              <select v-model="$i18n.locale">
                <option v-for="lang in languages" :key="lang.locale" :value="lang.locale">{{ lang.name }}</option>
              </select>
            </div>
            <div class="level-right">
                <a class="button level-item is-primary" :title="$t('save')" @click="saveState">
                  <i class="fas fa-save"></i>
                </a>
            </div>
          </h2>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <div class="tabs">
          <ul>
            <li :class="{'is-active': activeTab === 'coefficient'}" @click="activeTab = 'coefficient'"><a>{{ $t('boxes.coefficient.tabName') }}</a></li>
            <li :class="{'is-active': activeTab === 'optionalMethods'}" @click="activeTab = 'optionalMethods'"><a>Optional methods</a></li>
            <li :class="{'is-active': activeTab === 'planner'}" @click="activeTab = 'planner'"><a>Planner</a></li>
          </ul>
        </div>
        <div :hidden="activeTab !=='coefficient'">
          <div class="box">
            <h2 class="level subtitle">
              <span class="level-item">1. {{$t('boxes.order.title')}}</span>
            </h2>
            <div class="div_table">
              <div class="level-left" v-for="(orderItem, i) in orderItems">
                <div class="level-item">
                  <div class="field is-horizontal">
                    <label class="label">#{{i+1}}</label>
                  </div>
                </div>
                <div class="level-item">
                  <p class="control">
                    <input class="input has-text-right coefficient_number" type="number" placeholder="1" v-model="orderItem.count">
                  </p>
                </div>
                <div class="level-item">
                  <p class="control">
                    <input class="input" type="text" placeholder="bread type" v-model="orderItem.name">
                  </p>
                </div>
                <div class="level-item has-text-right">, {{$t('boxes.order.each')}}
                </div>
                <div class="level-item">
                  <p class="control has-icons-right">
                    <input class="input has-text-right" type="number" v-model="orderItem.mass" placeholder="340">
                    <span class="icon is-small is-right">g</span>
                  </p>
                </div>
              </div>
              <div class="level-right total" >
                <p class="has-text-right is-size-3">
                  <b>TOTAL: {{totalOrderMass}}g</b>
                </p>
              </div>
              <div class="level">
                <a class="button level-item is-primary" :title="$t('boxes.order.addItem')" @click="addItem">
                  <i class="fas fa-plus"></i>
                </a>
                <a class="button level-item is-danger" :title="$t('boxes.order.clearOrder')" @click="clearOrder">
                  <i class="fas fa-trash-alt"></i>
                </a>
              </div>
              <div class="level">
                <a class="button is-white level-item" @click="scrollTo('step2_box')">
                  <i class="fas fa-chevron-down"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="box" id="step2_box">
            <h2 class="level subtitle">
              <span class="level-item">2. {{ $t('boxes.recipe.title') }}</span>
            </h2>
            <div>
              <p class="control is-horizontal">{{ $t('boxes.recipe.selectRecipeBefore') }}
                <select class="control" v-model="selectedRecipe">
                  <option value="">{{$t('boxes.recipe.selectRecipeSelect')}}</option>
                  <option v-for="(recipe, i) in recipeList" :key="i" :value="i">{{recipe.title}}</option>
                  <option value="">{{ $t('boxes.recipe.selectRecipeCustom') }}</option>
                </select>
              </p>
              <p><small style="margin-left: 20px;"><sup>*</sup> BPàP = <a href="https://www.youtube.com/channel/UCyukUh-uOQJE6YqedFTkQlw">Boulangerie Pas à Pas</a></small></p>
              <p>{{ $t('boxes.recipe.selectRecipeAfter') }}</p>
            </div>
            <div class="box">
              <div class="columns level-left" :key="i" v-for="(recipeItem, i) in recipeItems">
                <div class="column is-one-fifth level-item">
                  <div class="field is-horizontal">
                    <label class="label">#{{i+1}}</label>
                  </div>
                </div>
                <div class="column is-one-thirt">
                  <p class="control">
                    <input class="input" type="text" :readonly="i <= 1" placeholder="ingredient" v-model="recipeItem.name">
                  </p>
                </div>
                <div class="column is-one-third">
                  <p class="control has-icons-right">
                    <input class="input has-text-right" type="number" v-model="recipeItem.mass" placeholder="340">
                    <span class="icon is-small is-right">g</span>
                  </p>
                </div>
              </div>
              <div class="level-right total" >
                <p class="has-text-right is-size-3">
                  <b>TOTAL: {{totalRecipeMass}}g</b>
                </p>
              </div>
              <div class="level-right"  v-if="displayRecipePerKg">
                <p class="has-text-right is-size-3">
                  <b>TOTAL {{ $t('boxes.recipe.totalPerKg') }}: {{totalRecipeMassPerKg}}g</b>
                </p>
              </div>
              <div class="level">
                <a class="button level-item is-primary" :title="$t('boxes.recipe.addItem')" @click="addIngredient">
                  <i class="fas fa-plus"></i>
                </a>
                <a class="button level-item is-danger" :title="$t('boxes.recipe.clearRecipe')" @click="clearRecipe">
                  <i class="fas fa-trash-alt"></i>
                </a>
              </div>
              <div class="level">
                <a class="button is-white level-item" @click="scrollTo('step3_box')">
                  <i class="fas fa-chevron-down"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="box" id="step3_box">
            <h2 class="level subtitle has-text-success">
              <span class="level-item">3. {{ $t('boxes.coefficient.title') }}</span>
            </h2>
            <div class="level">
              <div class="is-size-1 level-item has-text-success">{{getCoefficient}}</div>
            </div>
            <div class="level-left">
              <div class="field is-horizontal level-item">
                  {{ $t('boxes.coefficient.roundCoefficentToBefore') }}
                <p class="control">
                  <input id="roundToDecimalId" class="is-size-3" min="0" max="3" type="number" v-model="roundToDecimal">&nbsp;
                </p> {{ $t('boxes.coefficient.roundCoefficentToAfter') }} <small v-if="roundToDecimal === '0'" min="0">({{ $t('boxes.coefficient.roundCoefficentToUnit') }})</small></label>
              </div>
            </div>
            <div class="level">
              <a class="button is-white level-item" @click="scrollTo('step4_box')">
                <i class="fas fa-chevron-down"></i>
              </a>
            </div>
          </div>
          <div class="box" id="step4_box">
            <h2 class="level subtitle has-text-success">
              <span class="level-item">4. {{ $t('boxes.measurements.title') }}</span>
            </h2>
            <div class="level">
              <div class="level-left">
                <ol>
                  <li v-for="measurement in getMeasurements">
                    {{measurement.hr}}
                  </li>
                </ol>
              </div>
              <div class="level-item">
                <b>Total: {{totalMeasurementsMass}}g</b>
              </div>
            </div>
          </div>
        </div>
        
        <div :hidden="activeTab !=='optionalMethods'">
          <div class="columns">
            <div class="level-left column box">
              <h2 class="level-item subtitle has-text-success">
                <span>{{ $t('boxes.poolish.title') }}</span>
              </h2>
              <div class="level">
                <table class="table is-bordered is-striped is-narrow">
                  <thead>
                    <tr>
                      <th></th>
                      <th v-html="$t('boxes.poolish.day1')"></th>
                      <th v-html="$t('boxes.poolish.day2')"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(item, i) in poolishItems">
                      <td>{{item.name}}</td>
                      <td>
                        <p class="control has-icons-right">
                          <input :readonly="i<=1" v-model="item.day1Value" class="input has-text-right" type="number" min="0">
                          <span class="icon is-small is-right">g</span>
                        </p>
                      </td>
                      <td>{{day2Value(i, item)}} g</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="level-left column box">
                <h2 class="level-item subtitle has-text-success">
                  <span>{{ $t('boxes.waterRoux.title') }}</span>
                </h2>
                <div class="level">
                  <table class="table is-bordered is-striped is-narrow">
                    <thead>
                      <tr>
                        <th></th>
                        <th v-html="$t('boxes.waterRoux.waterRoux')"></th>
                        <th v-html="$t('boxes.waterRoux.balance')"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="(item, i) in waterRouxItems">
                        <td>{{item.name}}</td>
                        <td>
                          {{item.waterRouxMass}} g
                        </td>
                        <td>{{item.balanceMass}} g</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
        </div>
        <div :hidden="activeTab !=='planner'">
          <div class="level">
            <div class="field is-horizontal level-item level-left is-size-3">
              {{ $t('boxes.planner.startAt') }}&nbsp;
              <p class="control">
                <select v-model="startAtHour" class="control is-size-5">
                  <option value="00">00</option>
                  <option value="01">01</option>
                  <option value="02">02</option>
                  <option value="03">03</option>
                  <option value="04">04</option>
                  <option value="05">05</option>
                  <option value="06">06</option>
                  <option value="07">07</option>
                  <option value="08">08</option>
                  <option value="09">09</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                  <option value="12">12</option>
                  <option value="13">13</option>
                  <option value="14">14</option>
                  <option value="15">15</option>
                  <option value="16">16</option>
                  <option value="17">17</option>
                  <option value="18">18</option>
                  <option value="19">19</option>
                  <option value="20">20</option>
                  <option value="21">21</option>
                  <option value="22">22</option>
                  <option value="23">23</option>
                </select>
              </p>
            </div>
          </div>
          <div class="columns">
            <div class="level-left column box" id="planner_container">
              <div class="columns" v-for="(row, i) in rowedPlannerBoxes" :key="i">
                <div class="column planner-box" :class="['planner-box_activity-'+box.activity, {on_the_dot: isOnTheDot(box)}]" v-for="(box, j) in row" :key="PLANNER_BOXES_PER_ROW*i+j" @click="selectActivity(box)">
                  <div class="level">
                    <div class="level-left planner-box_time" v-if="isOnTheDot(box)">
                      <span>{{boxTimeHr(box)}}</span>
                    </div>
                  </div>
                  <div class="level">
                    <div class="level-item planner-box_activity">{{ $t('boxes.planner.shortActivities.' + box.activity)}}</div>
                  </div>
                  <div class="add_next" @click.stop="copyActivity(box)" v-if="$t('boxes.planner.shortActivities.' + box.activity)"><i class="far fa-arrow-alt-circle-right"></i></div>
                </div>
              </div>
              <div class="level">
                <a class="button level-item" :title="$t('add')" @click="addRowOfPlannerBoxes">
                  <i class="fas fa-plus"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</body>