<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Sourdough calculator</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.min.js"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.7.0/js/all.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.0/css/bulma.min.css">
  <style>
    ol li {
      margin-bottom: 10px;
    }
    .double-flash {
      animation: double-flash_6492 4s ease infinite;
      transform-origin: 50% 50%;
    }

    .total {
      border-top: solid 4px black;
    }
    
    @keyframes double-flash_6492 {
      0% { opacity:1 }
      12.5% { opacity:0 }
      25% { opacity:1 }
      37.5% { opacity:0 }
      50% { opacity:1 }
      100% { opacity:1 }
    }
  </style>
  <script>
    const getNewBread = () => ({name: 'pains'})
    const getNewIngredient = () => ({name: '', count: 1})
    const itemsToTotal = items  => items.reduce((aggr, oI) => aggr + ((oI.count || 0) * (oI.mass || 0 )), 0)
    document.addEventListener("DOMContentLoaded", function() {
    var vm = new Vue({
      el: '#app',
      data: {
        orderItems: [
          {name: 'baguettes', mass: 340, count: 18},
          {name: 'pains', mass: 550, count: 25},
        ],
        recipeItems: [
          {name: 'Farine', mass: 1000, count: 1},
        ],
        roundToDecimal: false
      },
      computed: {
        totalOrderMass() {
          return itemsToTotal(this.orderItems)
        },
        displayRecipePerKg() {
          return this.flourRecipeMass !== 1000
        },
        totalRecipeMass() {
          return itemsToTotal(this.recipeItems)
        },
        totalRecipeMassPerKg() {
          return Math.round(this.totalRecipeMass * 1000 / this.flourRecipeMass)
        },
        flourRecipeMass() {
          return this.recipeItems[0].mass
        },
        getCoefficient() {
          const multiplier = this.roundToDecimal ? 10 : 1
          return Math.ceil(this.totalOrderMass * multiplier / this.totalRecipeMass) / multiplier
        },
        getMeasurements() {
          return this.recipeItems.map(item => `${item.mass * this.getCoefficient}g of ${item.name}`)
        },
        totalMeasurementsMass() {
          return itemsToTotal(this.recipeItems.map(({mass, count}) => ({mass, count: count*this.getCoefficient})))
        }
      },
      methods: {
        addItem() {
          this.orderItems.push(getNewBread())
        },
        addIngredient() {
          this.recipeItems.push(getNewIngredient())
        },
        clearOrder() {
          Swal.fire({
            type: 'error',
            title: 'Tout effacer dans la commande?',
            text: 'Vous êtes sur le point d\'effacer toute la commande!',
            showCancelButton: true,
            confirmButtonText: 'Oui, effaçons!',
            cancelButtonText: 'Non, surtout pas!',
          }).then(result => result.value ? this.orderItems = [getNewBread()] : 0)
        },
        clearRecipe() {
          Swal.fire({
            type: 'error',
            title: 'Tout effacer dans la recette de base?',
            text: 'Vous êtes sur le point d\'effacer toute la recette de base!!',
            showCancelButton: true,
            confirmButtonText: 'Oui, effaçons!',
            cancelButtonText: 'Non, surtout pas!',
          }).then(result => result.value ? this.recipeItems = [this.recipeItems[0]] : 0)
        }
      }
    })
  })
  </script>
</head>
<body>
  <section class="hero">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Calculer le coefficient
        </h1>
        <h2 class="subtitle">
          Un petit calculateur pour la petite vidéo <a href="https://www.youtube.com/watch?v=IZjUj8YzhLA">Boulangerie Pas a Pas #7</a>
        </h2>
      </div>
    </div>
  </section>
  <section class="section" id="app">
    <div class="container">
      <div class="columns">
        <div class="level-left column box">
          <h2 class="level-item subtitle">
            <span>1. La commande</span>
            <span class="icon"><i class="fas fa-clipboard-list"></i></span>&nbsp;
          </h2>
          <div class="box">
            <div class="columns level-left" v-for="(orderItem, i) in orderItems">
              <div class="column is-one-fifth level-item">
                <div class="field is-horizontal">
                  <label class="label">#{{i+1}}</label>
                </div>
              </div>
              <div class="column is-one-fifth">
                <p class="control">
                  <input class="input has-text-right" type="number" placeholder="1" v-model="orderItem.count">
                </p>
              </div>
              <div class="column is-one-fifth">
                <p class="control">
                  <input class="input" type="text" placeholder="bread type" v-model="orderItem.name">
                </p>
              </div>
              <div class="column is-one-fifth has-text-right">, à
              </div>
              <div class="column is-one-fifth">
                <p class="control has-icons-right">
                  <input class="input has-text-right" type="number" v-model="orderItem.mass" placeholder="340">
                  <span class="icon is-small is-right">g</span>
                </p>
              </div>
            </div>
            <div class="level-right total" >
              <p class="has-text-right is-size-3">
                <b>TOTAL: {{totalOrderMass}}g</b>
              </p>
            </div>
            <div class="level">
              <a class="button level-item is-primary" title="Ajouter un élement" @click="addItem">
                <i class="fas fa-plus"></i>
              </a>
              <a class="button level-item is-danger" title="Effacer la commande" @click="clearOrder">
                <i class="fas fa-trash-alt"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="level-left column box">
          <h2 class="level-item subtitle">
            <span>2. La recette de base</span>
            <span class="icon"><i class="fas fa-flask"></i></span>&nbsp;
          </h2>
          <div class="box">
            <div class="columns level-left" v-for="(recipeItem, i) in recipeItems">
              <div class="column is-one-fifth level-item">
                <div class="field is-horizontal">
                  <label class="label">#{{i+1}}</label>
                </div>
              </div>
              <div class="column is-one-thirt">
                <p class="control">
                  <input class="input" type="text" :readonly="i === 0" placeholder="ingredient" v-model="recipeItem.name">
                </p>
              </div>
              <div class="column is-one-third">
                <p class="control has-icons-right">
                  <input class="input has-text-right" type="number" v-model="recipeItem.mass" placeholder="340">
                  <span class="icon is-small is-right">g</span>
                </p>
              </div>
            </div>
            <div class="level-right total" >
              <p class="has-text-right is-size-3">
                <b>TOTAL: {{totalRecipeMass}}g</b>
              </p>
              <p class="has-text-right is-size-3" v-if="displayRecipePerKg">
                <b>TOTAL par kg farine: {{totalRecipeMassPerKg}}g</b>
              </p>
            </div>
            <div class="level">
              <a class="button level-item is-primary" title="Ajouter un élement" @click="addIngredient">
                <i class="fas fa-plus"></i>
              </a>
              <a class="button level-item is-danger" title="Effacer la recette" @click="clearRecipe">
                <i class="fas fa-trash-alt"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="columns">
        <div class="level-left column box">
          <h2 class="level-item subtitle has-text-success">
            <span>3. On calcule le coefficient...</span>
          </h2>
          <div class="level">
            <div class="is-size-1 level-item has-text-success">{{getCoefficient}}</div>
          </div>
          <div class="level-left">
            <div class="field is-horizontal level-item">
              <p class="control">
                <input type="checkbox" id="roundToId" v-model="roundToDecimal">&nbsp;
              </p>
              <label for="roundToId" class="label">Arrondir à la première decimale <small>(sinon, à l'unité)</small></label>
            </div>
          </div>
        </div>
        <div class="level-left column box">
            <h2 class="level-item subtitle has-text-success">
              <span>4. ...et les mesures&nbsp;</span>
              <span class="icon"><i class="fas fa-balance-scale"></i></span>&nbsp;
            </h2>
            <div class="level box">
              <div class="level">
                <ol>
                  <li v-for="measurement in getMeasurements">
                    {{measurement}}
                  </li>
                </ol>
              </div>
              <div class="level">
                <b>Pour un total de: {{totalMeasurementsMass}}g</b>
              </div>
            </div>
        </div>
      </div>
      
    </div>
  </section>
</body>